Makefile
Makefile.in
aclocal.m4
build-stamp
config.guess
config.log
config.status
config.sub
debian/vyatta-cfg-dhcp-relay
debian/files
debian/vyatta-cfg-dhcp-relay.debhelper.log
config
configure
INSTALL
