Source: vyatta-cfg-dhcp-relay
Section: contrib/net
Priority: extra
Maintainer: Marat Nepomnyashy <marat@vyatta.com>
Build-Depends: debhelper (>= 5), autotools-dev
Standards-Version: 3.7.2

Package: vyatta-cfg-dhcp-relay
Architecture: all
Depends: vyatta-cfg,
 vyatta-bash,
 vyatta-dhcp3-relay (>= 3.0.6.dfsg-1),
 sed (>= 4.1.5),
 perl (>= 5.8.8),
 libnetaddr-ip-perl (>= 4.007+dfsg-1),
 procps (>= 1:3.2.7-3),
 coreutils (>= 5.97-5.3),
 busybox,
 sudo
Description: Vyatta DHCP-relay-level configuration templates and scripts
 Vyatta DHCP-relay-level configuration templates and scripts.
